# Visualización y análisis
matplotlib==3.10.1
networkx==3.4.2
numpy==2.2.4
scipy==1.15.2
pillow==11.2.1
pyvis==0.3.2  # <-- Necesario para el grafo interactivo
ipywidgets==8.1.2  # <-- Necesario para el slider interactivo en Jupyter

# Dependencias auxiliares
contourpy==1.3.2
cycler==0.12.1
fonttools==4.57.0
kiwisolver==1.4.8
packaging==24.2
pyparsing==3.2.3
python-dateutil==2.9.0.post0
six==1.17.0
